.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies__list {
    display: flex;
    justify-content: space-evenly;
    width: 38%;
}

.movies__item {
    font-size: 26px;
    font-weight: 500;
    line-height: 29px;
}