.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.header__logo {
    width: 65px;
    height: 65px;
    margin-right: 50px;
}

.header__navigate {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.header__links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.header__link {
    color: #FFF;
    font-size: 26px;
    font-weight: 500;
    line-height: 29px;
    cursor: pointer;
}

.header__link:focus {
    outline: 4px groove #ffc107;
    outline-offset: 6px;
}

.header__link_active {
    border-bottom: 3px solid #ffc107;
    /* text-decoration: underline;
    text-decoration-color: #ffc107;
    text-decoration-thickness: 3px;
    text-underline-offset: 23px; */
}

.header__settings {
    display: flex;
    justify-content: space-between;
    width: 8%;
}

.header__icon {
    width: 33px;
    height: 33px;
}