.programs {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 143px);
    overflow-y: scroll;
    scroll-padding: 5px 0px 5px 0px;
    visibility: hidden;
}

.programs__list {
    padding: 6px 10px 0px 30px;
}

.programs,
.programs__list {
    visibility: visible;
}

.programs::-webkit-scrollbar {
    width: 6px;
}

.programs::-webkit-scrollbar-thumb {
    background-color: rgba(243, 237, 237, 0.301);
    border-radius: 20px;
}

.programs::-webkit-scrollbar-track {
    background-color: transparent;
}


.test{
    text-align: center;
    margin-top: 50px;
}
